.fancy-button {
  padding: 10px;
  margin: 32px;
  font-size: 32px;
  font-weight: 500;
  color: white;
}

a {
  text-decoration: none;
}

.fancy-button:hover {
  background-color: white;
  color: black;
}
  
