<div class='accountpage'>
  <h1>Pending Sitting Requests</h1>
  <ul class='pendinglist'>
    <li *ngFor='let request of requests_pending'>
      {{request.petName}} from {{request.startTime}} to {{request.endTime}} on {{request.date}} with {{request.petSitter}}
    </li>
  </ul>
  <h1>Confirmed Sitting Requests</h1>
  <ul class='confirmedlist'>
    <li *ngFor='let request of requests_confirmed'>
      {{request.petName}} from {{request.startTime}} to {{request.endTime}} on {{request.date}} with {{request.petSitter}}
    </li>
  </ul>
  <h1>Denied Sitting Requests</h1>
  <ul class='deniedlist'>
    <li *ngFor='let request of requests_denied'>
      {{request.petName}} from {{request.startTime}} to {{request.endTime}} on {{request.date}} with {{request.petSitter}}
    </li>
  </ul>
</div>
