
.fancy-button {
  margin: 100px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 32px;
  color: white;
  background-color: gray;
}

.fancy-button:hover {
    opacity: .6;
}

a {
    text-decoration: none;
}

.features {
    list-style-position: inside;
}

.imagerows {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

  img {
    margin: 80px;
    margin-bottom: 0px;
  }
