<body>
<h1>Traveling Paws Pet Sitting</h1>
<br>
<h2>A small business local pet sitter!</h2>
<br>

<div class='desc'>
    Traveling Paws Pet Sitting is based right here in Orlando. Established in 2022, we found our specialty in taking care of pets for those returning to the office post pandemic.
</div>

<div class='features'>
    <ul>
        <li>3 pet sitters</li>
        <li>Small business supporting local economy</li>
        <li>Over 30 regular pet sittings</li>
        <li>Specializing in dogs, cats, rodents, and birds
    </ul>
</div>

<div class="imagerows">
    <img src="/assets/homepage1.jpg" width=400 height=550>
    <img src="/assets/homepage2.jpg" width=400 height=550>
    <img src="/assets/homepage3.jpg" width=400 height=550>
    <img src="/assets/homepage4.jpg" width=400 height=550>
    <img src="/assets/homepage5.jpg" width=400 height=550>
    <img src="/assets/homepage6.jpg" width=400 height=550>
</div>
<br /><br />
<div>
    <a class="button fancy-button" routerLink='/petsitters'>Pet Sitters</a>
    <a class="button fancy-button" style="background-color: #94E38D; color: black" routerLink='/requestpage'>Request Today!</a>
    <a class="button fancy-button" routerLink='/reviewpage'>Reviews</a>
</div>
<br /><br /><br />
<video width="1000" height="500" controls>
    <source src="../../assets/dogvideo1.mp4" type="video/mp4" />
</video>
</body>
