img {
    margin: 80px;
}

.fancy-button {
  margin: 100px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 32px;
  color: white;
  background-color: gray;
  font-family:'Comic Sans MS';
}

.fancy-button:hover {
    opacity: .6;
}
